.전체{
    background-color: beige;
    width : 1920px;
    height : 1842px
}
.헤더{
    width : 1920px;
    height: 70px;
    background-color: aqua;
}


.바디{
    width : 1920px;
    height: 1521px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.배너영역{
    width: 1920px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.배너{
    width : 1168px;
    height: 240px;
    background-image: url("./assets/Rectangle1.png");
}

.네비게이션영역{
    width:1920px;
    height: 48px;
    background-color: blue;
}

.내용영역{
    width: 1920px;
    height: 1209px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap:24px;
}
.카드영역{
    width: 784px;
    height: 1209px;
    background-color: rgb(24, 24, 19);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:24px;
    flex-wrap: wrap;
    align-items: flex-start;

}
.카드{
    width: 380px;
    height: 373px;
    display: flex;
    flex-direction: column;
    gap:16px;
    justify-content: space-between;
}
.카드이미지{
    width: 380px;
    height: 285px;
    background-image: url("./assets/Frame1.png");
}
.일기쓰기영역{
    width: 360px;
    height: 604px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap:40px;
    justify-content: space-between;
    align-items: center;
}
.등록하기버튼{
    width: 312px;
    height: 48px;
}
.푸터{
    width : 1920px;
    height: 227px;
    background-color: blueviolet;
}