#logo {
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  font-style: Bold;
  line-height: 16px;
  letter-spacing: -1%;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.darkModeBtn {
  display: flex;
  /* width: 121px;
  height: 32px; */
  gap: 4px;
  justify-content: center;
  align-items: center;

  /*  */
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
}

.darkModeBtn > img {
  width: 68px;
  height: 32px;
}


