.darkModeText {
  color: var(--Gray-Gray-900, #1c1c1c);
  font-family: var(--font-family);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 200% */
  letter-spacing: -0.0075rem;
}

.darkModeBtn {
  display: flex;

  gap: 8px;
  justify-content: center;
  align-items: center;

  /*  */
  font-weight: 400;

  line-height: 24px;
  letter-spacing: -1%;
}

.darkModeBtn > img {
  width: 40px;
  height: 24px;
}

.detail-date {
  display: flex;
  gap: 8px;
  color: var(--Gray-Gray-500, #919191);
  font-family: var(--font-family);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
  letter-spacing: -0.0075rem;
}

.djqwdwqdqw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #919191;
  padding: 4px 0;
  border-bottom: 1px solid var(--Gray-Gray-200, #e5e5e5);
}

.djqwdwqdqw:nth-last-child(1) {
  border-bottom: none;
}
