.detail {
  gap: 40px;
}
.detail-layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1168px;
  border-bottom: 1px solid #000;
  padding-bottom: 24px;
}
.detail-title {
  display: flex;
  max-width: 1168px;
  padding-bottom: 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-bottom: 2px solid #000;
}

.detail-title-input {
  /* display: flex; */
  width: 100%;
  display: none;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  color: var(--Gray-B, #000);
  font-family: 'Pretendard Variable';

  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.detail-body-input {
  display: none;
  color: var(--Gray-B, #000);
  font-family: 'Pretendard Variable';

  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
  color: var(--Gray-B, #000);
  font-family: 'Pretendard Variable';

  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  height: fit-content;
}
.detail-head {
  display: flex;
  max-width: 1168px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.detail-head-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.detail-body {
  color: #333333;

  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.16px;
  max-width: 1168px;

  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 20px;
  height: fit-content;
}

.detail-body-lable {
  color: #000;
  font-family: 'Pretendard Variable';

  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;
}

.text-copy,
.detail-footer {
  display: flex;
  max-width: 1168px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.detail-footer-editBtn {
  display: flex;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

.detail-footer-isEdit {
  /* display: flex; */
  flex-direction: row;
  display: none;
  max-width: 1168px;
  padding-bottom: 16px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  align-self: stretch;
  gap: 16px;
}

.detail-footer-isEdit-cancelBtn {
  display: flex;
  width: 104px;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Gray-B, #000);
  background: var(--Gray-W, #fff);
}

.detail-footer-isEdit-saveBtn {
  display: flex;
  width: 104px;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Gray-B, #000);
  color: #ffffff;
}

.comment {
  padding: 24px 0;
  color: #000;
  font-family: 'Pretendard Variable';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
}

.comment-layout {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.comment-layout > button {
  display: flex;
  height: 48px;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  color: white;
  background-color: black;
}
.comment-input {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
}

.test {
  animation: shakeBtn;
  animation-duration: 0.5s;
}

@keyframes shakeBtn {
  0% {
    transform: rotate(15deg);
    background-color: #ff8080;
  }
  25% {
    transform: rotate(-15deg);
    background-color: #ffe680;
  }
  50% {
    transform: rotate(15deg);
    background-color: #8dd35f;
  }
  75% {
    transform: rotate(-15deg);
    background-color: #80b3ff;
  }
  100% {
    transform: rotate(0deg);
    background-color: #ffffff;
  }
}
