* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  /* --primary-color: #000000;
  --secondary-color: #2ecc71; */
  --text-color: #000000;
  --background-color: #ffffff;
  --font-family: 'Pretendard Variable', sans-serif;
  --Gray-Gray-500: #919191;
  --Gray-Gray-600: #777777;
  --Gray-Gray-900: #1c1c1c;
}

.dark {
  /* --primary-color: #ffffff;
  --secondary-color: #27ae60; */
  --text-color: #ffffff;
  --background-color: #1c1c1c;
  --font-family: 'Pretendard Variable', sans-serif;
}

body,
.header {
  width: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
}

.flex {
  display: flex;
}
