#app {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  /* background-color: skyblue; */
  align-items: center;
  font-size: 2.25rem;

  gap: 24px;
}

.x-container {
  justify-content: center;
  align-items: center;
  padding: 0 1.125rem;
}

header {
  display: flex;
  position: fixed;
  /* max-width: 1168px; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 1.125rem;
  max-width: 1168px;
  background-color: white;
  z-index: 10;
}

.darkModeText {
  color: var(--Gray-Gray-900, #1c1c1c);
  font-family: 'Pretendard Variable';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 200% */
  letter-spacing: -0.0075rem;
}

.darkModeBtn {
  display: flex;
  /* width: 121px;
  height: 32px; */
  gap: 8px;
  justify-content: center;
  align-items: center;

  /*  */
  font-weight: 400;

  line-height: 24px;
  letter-spacing: -1%;
}

.darkModeBtn > img {
  width: 40px;
  height: 24px;
}

/* .storageList ul {
  display: flex;
  gap: 8px;
  
  padding-bottom: 42px;
  color: #ababab;
} */

.tabList {
  display: flex;
  gap: 8px;
  list-style: none;
}

.tab_diary,
.tab_image {
  display: inline-block;
  padding: 12px 4px;
  font-size: 1rem;
  letter-spacing: -1%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 100%;
  height: 15rem;
  /* min-width: 20rem; */
  /* max-width: 73rem; */
  align-self: stretch;
  border-radius: 1.5rem;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-ms {
  font-weight: 500;
  font-style: Medium;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: -1%;
  color: #333333;
  gap: 8px;
}

textarea {
  height: 128px;
}

.input-layout {
  width: 312;
  height: 48;
  opacity: 1;
  gap: 10px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border-radius: 8px;
  border-width: 1px;
  /* margin-bottom: 24px; */
}
.closeBtn {
  width: 100%;
  height: 48px;
  opacity: 1;
  gap: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid black;
  color: var(--text-color);
  opacity: 1;
}

.submitDiaryBtn {
  width: 100%;
  height: 48px;
  opacity: 1;
  gap: 16px;
  background-color: #c7c7c7;
  border-radius: 8px;
  border: none;
  color: #f2f2f2;
  opacity: 1;
}

.modal-backdrop,
.modal-backdrop-add {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-container-add {
  display: flex;
  min-width: 280px;
  max-width: 760px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.modal-container {
  display: none;
  position: absolute;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 3;
  width: 90%;
  height: 55%;
  border-radius: 24px;

  background-color: white;
  /* z-index: 3; */
  opacity: 1;

  max-width: 640px;
  max-height: 760px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  min-width: 100%;
  /* max-width: 274px; */
  padding-bottom: 16px;
  border-radius: 16px;
  position: relative;
}
.card:hover {
  scale: 110%;
  filter: blur(4px);
  transition: all 0.5s;
}

.card > img {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  object-fit: contain;
  border-radius: 16px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.875rem;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: -1%;
}

.cardTitle {
  width: 136px;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active {
  background-color: #000000 !important;
}

.invalidInput {
  border: 2px solid #e84f4f !important;
}

.topscroll {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  /* left: 0px; */
}

.deleteDiaryBtn {
  position: absolute;
  max-height: 24px;
  max-width: 24px;
  cursor: pointer;
  right: 6px;
  top: 6px;
  /* z-index: 1; */
  /* background-color: white; */
  color: var(--text-color);
}

/* MAIN - storageList */

.storageList {
  margin-bottom: 32px;
}

.main {
  flex-grow: 1;
  max-width: 1168px;
  padding-top: 60px;
}

.activeMenu {
  /* border: ; */
  border-bottom: 2px solid;
  display: inline-flex;
  font-weight: 700;
  color: #000000;
}

.section-main,
.section-sub {
  max-width: 1168px;
  position: relative;
  display: flex;
  /* flex-direction: column-reverse; */
  flex-direction: column;
  gap: 24px;
  margin-bottom: 42px;
}

/* @media (min-width: 768px) {
  .section-main {
    flex-direction: row-reverse;
  }
} */

.cardList {
  order: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 16px;
}

.cardList a {
  text-decoration: none;
  color: #000000;
}

#app-detail {
  max-width: 1168px;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  /* background-color: skyblue; */
  align-items: center;
  font-size: 2.25rem;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.displayEl {
  display: block;
}
.hidden {
  display: none;
}

.dropdown-diary,
.dropdown-img {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  min-height: 40px;
}

.dropdown-button,
.img-dropdown-button {
  display: flex;
  min-width: 120px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 0.875rem;
  cursor: pointer;
}

.dropdown-menu,
.img-dropdown-menu {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  background-color: white;
  min-width: 120px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 6px 0;
  /* z-index: 1000; */
}

.dropdown-menu-item,
.img-dropdown-menu-item {
  list-style: none;
  padding: 8px 12px;

  color: var(--text-color);
  cursor: pointer;
}

.dropdown-menu-item:hover {
  background-color: #e0e0e0;
}

.dropdown.open .dropdown-menu {
  display: block;
}

body {
  height: 100vh;
  /* width: 100vw; */
  /* display: flex;
  justify-content: center; */
}

main {
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--Gray-Gray-50, #f2f2f2);
}

.footer__inner {
  width: 100%;
  max-width: 1168px;
}

footer > div {
  max-width: 1168px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 160px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.a {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -1%;
}
.ceo {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16px;
  letter-spacing: -1%;
}
.c {
  font-weight: 300;
  font-style: Light;
  font-size: 0.875rem;
  line-height: 16px;
  letter-spacing: -1%;
}

.filtercategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.filtercategory-select {
  /* display: flex;
  max-width: 120px;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-300, #c7c7c7);
  background: var(--Gray-W, #fff); */
  display: flex;
  max-width: 120px;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 376px;
  top: 80px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-300, #c7c7c7);
  background: var(--Gray-Gray-100, #e4e4e4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* .filtercategory-select > option {
} */

/* header > div { */
/* display: flex; */

/* align-content: center; */
/* width: 100%; */
/* height: 60px; */
/* background-color: #ffe680; */
/* } */

#logo {
  font-size: 1.125rem;
  font-weight: 700;
  font-style: Bold;
  line-height: 16px;
  letter-spacing: -1%;
  font-family: var(--font-family);
  justify-content: center;
  text-decoration: none;
  color: #000000;

  display: flex;
  width: 7.5rem;
  height: 2.5rem;
  align-items: center;
  gap: 0.625rem;
}

.logo-text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: -0.01125rem;
}

.section-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.empty-diary {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.empty-diary > p {
  padding: 40px 0;
  color: var(--Gray-Gray-500, #919191);
  font-family: 'Pretendard Variable';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 200% */
  letter-spacing: -0.0075rem;
}

.search-filter-new {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

.filter-new {
  position: sticky;
  top: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.search-diary {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--Gray-Gray-300, #c7c7c7);
  padding: 8px 16px;
}

.search-diary > input {
  width: 100%;
  border: none;
  outline: none;
}

.section-image-inner {
  display: flex;
  flex-direction: column;
}
