@media (min-width: 780px) {
  .section-main {
    flex-direction: column;
  }
  .section-main .cardList {
    order: 1;
  }
  .section-main .new__diary {
    order: 2;
  }
  .cardList {
    display: flex;
    gap: 24px;
  }
  .x-container {
    padding: 0;
  }
  .selectCard {
    flex-direction: row;
  }
  .formDiary {
    gap: 40px;
  }
}
