.content_right {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 240px;
  height: fit-content;
  /* background-color: #8dd35f; */
  border-radius: 16px;
  border-width: 1px;
  padding: 24px;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

.addDiaryBtn {
  display: flex;
  padding: 8px 10px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--Gray-B, #000);
  color: var(--Gray-W, #fff);
  font-family: var(--font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.01rem;
  background-color: #000;
}

.formDiary {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: scroll;
  width: 100%;
  scrollbar-width: none;
}

.formDiary__title {
  color: #000;
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 120% */
  letter-spacing: -0.0125rem;
}

.formDiary__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formDiary__content > p {
  color: #000;
  font-family: var(--font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 125% */
  letter-spacing: -0.01rem;
}

.ratio__list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selectCard {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1%;
  gap: 12px;

  /* font */
  color: var(--Gray-Gray-800, #333);
  font-family: var(--font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 125% */
  letter-spacing: -0.01rem;
}

.formDiary__btn {
  display: flex;
  gap: 16px;
}
