.skeleton-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  border-radius: 24px;
  width: 280px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  background: lightsteelblue;
  overflow: hidden;
}

.skeleton > hr:nth-child(1),
.skeleton > hr:nth-child(2) {
  background-color: white;
  fill: white;
  width: 5%;
  height: 1000%;
  transform: rotate(45deg);

  /* bulr */
  filter: blur(24px);
  border: none;
  border-radius: 10px;

  animation: animate-skeleton;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.skeleton > hr:nth-child(2) {
  animation-duration: 1s;
}

@keyframes animate-skeleton {
  0% {
    transform: rotate(45deg) translateX(-2000%);
  }
  100% {
    transform: rotate(45deg) translateX(2000%);
  }
}

/* .skeleton {
  border-radius: 24px;
  width: 280px;
  background-color: #e4e4e4;
} */
